@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Permanent+Marker&display=swap');

@font-face {
    font-family: "Android";
    src: url(/html-css/módulo02/desafios/desafio010/fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

:root {
    --cor0: #c5ebd3;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica,  Sans-serif
    --fonte-destaque: "Bebas Neue", sans-serif;
    --fonte-android: "Android", 'cursive';
}

body {
    background-color: #c5ebd3;
} 